.btn-verificar{
  position: relative;
  background: #003be5;
  border: 1px #003be5 solid;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: Verdana , Tahoma , sans-serif;
  font-size: 16px;
  font-style: normal;
  height: 40px;
  line-height: 150%;
  margin: 10px 0px 10px 0px;
  text-align: center;
  width: 200px;
}