html {
  background: linear-gradient(185.21deg, #fafafa 7.32%, #f0f2f5 101.36%);
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main .btns {
  display: flex;
  justify-content: space-between;
}

.main button {
  position: relative;
  background: #003be5;
  border: 1px #003be5 solid;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: Verdana , Tahoma , sans-serif;
  font-size: 16px;
  font-style: normal;
  height: 40px;
  line-height: 150%;
  margin: 40px 0px 40px 0px;
  text-align: center;
  width: 300px;
}

.main form button:hover {
  background: #002799;
}
